@import "./../varibles.less";

.@{_}text-1{font-size: @font-1; }
.@{_}text-2{font-size: @font-2; }
.@{_}text-3{font-size: @font-3; }
.@{_}text-4{font-size: @font-4; }
.@{_}text-5{font-size: @font-5; }
.@{_}text-6{font-size: @font-6; }
.@{_}text-7{font-size: @font-7; }
.@{_}text-8{font-size: @font-8; }
.@{_}text-9{font-size: @font-9; }
.@{_}text-10{font-size: @font-10; }

//------------------------------------------------------//

.@{_}text-italic  { font-style: italic; }
.@{_}text-weight-bold   { font-weight: @text-weight-bold_; }
.@{_}text-weight-normal { font-weight: @text-weight-normal_; }
.@{_}text-weight-light  { font-weight: @text-weight-light_; }

.@{_}text-lowercase  { text-transform: lowercase; }
.@{_}text-uppercase  { text-transform: uppercase; }
.@{_}text-capitalize { text-transform: capitalize; }
.@{_}text-justify  { text-align: justify; }
.@{_}text-nowrap   { white-space: nowrap; }
.@{_}text-underline   { text-decoration: underline;}
.@{_}text-through   { text-decoration: line-through;}
.@{_}text-decoration-none   {
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}

//------------------------------------------------------//

.@{_}text-orange {color: extract(@orange,1) !important;} 
.@{_}text-gray {color: extract(@gray,1) !important;} 
.@{_}text-black {color: extract(@black,1) !important;} 
.@{_}text-white {color: extract(@white,1) !important;} 

.@{_}text-purple {color: extract(@purple,1) !important;} 
.@{_}text-deep-purple {color: extract(@deep-purple,1) !important;} 
.@{_}text-indigo {color: extract(@indigo,1) !important;} 
.@{_}text-light-blue {color: extract(@light-blue,1) !important;} 
.@{_}text-cyan {color: extract(@cyan,1) !important;} 
.@{_}text-teal {color: extract(@teal,1) !important;} 
.@{_}text-light-green {color: extract(@light-green,1) !important;} 
.@{_}text-lime {color: extract(@lime,1) !important;} 
.@{_}text-amber {color: extract(@amber,1) !important;} 
.@{_}text-deep-orange {color: extract(@deep-orange,1) !important;} 
.@{_}text-brown {color: extract(@brown,1) !important;} 
.@{_}text-blue-gray {color: extract(@blue-gray,1) !important;} 
