@import "./../varibles.less";


//item-media




.@{_}list{
    border: @border-native;
    margin-bottom: 10px;

    *{
        text-decoration: none;
    }
}



.@{_}list-item{
    display: table;
    position: relative;
    margin:0;
    padding:0;
    border: 0;
    background: #fff;
    & > *{
        display: table-cell;
        table-layout: fixed;
        width: 0;
        vertical-align: middle;
        position: relative;
    }


    .@{_}item-content{
        width: 100%;
    }
    & > .item-top{vertical-align: top;}
    & > .item-middle{vertical-align: middle;}
    & > .item-bottom{vertical-align: bottom;}
    
}







.@{_}list-item{
    min-height: 48px;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
}
.@{_}list-item:not(:last-child){
    border-bottom: @border-native;
}










.item-media-icon{

    & when (@align = left) { 
        padding-left: 16px;
        padding-right: 0px;
    }
    & when (@align = right) {
        padding-left: 0px;
        padding-right: 16px;
    }

    height: 24px;
    width: 24px;
    min-width: 24px;
    min-height: 24px;
}
.item-media-small{
    & when (@align = left) { 
        padding-left: 16px;
        padding-right: 0px;
    }
    & when (@align = right) {
        padding-left: 0px;
        padding-right: 16px;
    }


    height: 48px;
    width: 48px;
    min-width: 48px;
    min-height: 48px;
}

.item-media-medium{

    & when (@align = left) { 
        padding-left: 16px;
        padding-right: 0px;
    }
    & when (@align = right) {
        padding-left: 0px;
        padding-right: 16px;
    }
    height: 56px;
    width: 56px;
    min-width: 56px;
    min-height: 56px;
}

.item-media-big{
    
    padding-left: 0px;
    padding-right: 0px;
    height: 56px;
    width: 100px;
    min-width: 100px;
    min-height: 56px;
}




.item-content{
    padding-left: 16px;
    padding-right: 16px;
    font-size: 16px;

    .content-title{
        font-size: 16px;
        line-height: 1.4;
        min-height: 22px;
    }
    .content-caption{
        font-size: 12px;
        line-height: 1.2;
        color: rgba(0, 0, 0, 0.54);
    }
}
.item-meta{

    & when (@align = left) { 
        padding-right: 16px;
    }
    & when (@align = right) {
        padding-left: 16px;
    }



    color: rgba(0, 0, 0, 0.54);
    font-size: 14px;
}





.item-media-big.item-top{
    margin-top:4px;
}
.item-media-medium.item-top{
    margin-top:4px;
}
.item-media-small.item-top{
    margin-top:4px;
}
.item-media-icon.item-top{
    margin-top:4px;
}