@align         :      left; //  right / left
@font-size     :      16px;
@font-family   :      Roboto, sans-serif;
@background    :     #f5f5f5; 
@color         :     rgba(0, 0, 0, 0.87);
@link-color    :     #2192ee;

@border-native :        1px solid rgb(229, 229, 229);
@border-width  :       2px;
@border-color  :     #e9e9e9;
@font-weight   :       400;
@line-height   :       1.2;
@disabled      :       0.65;
@shadow        :       0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); //0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
@shadow-hover  :       0 6px 6px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
//--------------------------------------//
@screen-xs          :        576px;
@screen-sm          :        768px;
@screen-md          :        992px;
@screen-lg          :        1200px;
@screen-xl          :        1400px;
@screen-xxl         :        1600px;


@container-gutter   :        12px;
@container-xs       :        540px;
@container-sm       :        720px;
@container-md       :        960px;
@container-lg       :        1140px;
@container-xl       :        1280px;
@container-xxl      :        1400px;

//--------------------------------------//
@weight-light      :         300;
@weight-normal     :         400;
@weight-medium     :         500;
@weight-bold       :         700;

//--------------------------------------//
@height     :   36px;
@font       :   16px;
@navbar     :   56px;
//--------------------------------------//



//--------------------------------------//
@grid-cols     :        12;

@grid          :        10 10%;
@size          :        10 10%;
@spacing       :        10 10%;
//------------------------------------------------------------------------//

@zindex        :        10; // count zindex

//------------------------------------------------------------------------//



@secondary      :   #f8f8f8, darken(#f8f8f8, 7%), #999, #999;
@red            :   #D32F2F, darken(#D32F2F, 7%), #ffffff, #FFFFFF;
@green          :   #388E3C, darken(#388E3C, 7%), #ffffff, #FFFFFF;
@blue           :   #1976D2, darken(#1976D2, 7%), #ffffff, #FFFFFF;
@pink           :   #C2185B, darken(#C2185B, 7%), #ffffff, #FFFFFF;
@yellow         :   #fbc02d, darken(#fbc02d, 7%), #ffffff, #FFFFFF;
@orange         :   #F57C00, darken(#F57C00, 7%), #ffffff, #FFFFFF;
@gray           :   #757575, darken(#757575, 7%), #ffffff, #FFFFFF;
@black          :   #2e2e2e, darken(#2e2e2e, 7%), #ffffff, #FFFFFF;
@white          :   #FFFFFF, darken(#FFFFFF, 7%) ,#333333, #333333;
//----------- Aditional color  --------------------------------------------//
@purple         :   #7B1FA2, darken(#7B1FA2, 7%), #ffffff, #FFFFFF;
@deep-purple    :   #673AB7, darken(#673AB7, 7%), #ffffff, #FFFFFF;
@indigo         :   #303F9F, darken(#303F9F, 7%), #ffffff, #FFFFFF;
@light-blue     :   #29B6F6, darken(#29B6F6, 7%), #ffffff, #FFFFFF;
@cyan           :   #0097A7, darken(#0097A7, 7%), #ffffff, #FFFFFF;
@teal           :   #00796B, darken(#00796B, 7%), #ffffff, #FFFFFF;
@light-green    :   #7CB342, darken(#7CB342, 7%), #ffffff, #FFFFFF;
@lime           :   #64DD17, darken(#64DD17, 7%), #ffffff, #FFFFFF;
@amber          :   #FFA000, darken(#FFA000, 7%), #ffffff, #FFFFFF;
@deep-orange    :   #F4511E, darken(#F4511E, 7%), #ffffff, #FFFFFF;
@brown          :   #795548, darken(#795548, 7%), #ffffff, #FFFFFF;
@blue-gray      :   #78909C, darken(#78909C, 7%), #ffffff, #FFFFFF;

//------------------------------------------------------------------------//

//------------------------//

@h1 : 32px;
@h2 : 28px;
@h3 : 24px;
@h4 : 18px;
@h5 : 16px;
@h6 : 14px;

//------------------------//

@font-1        :       8px;
@font-2        :       10px;
@font-3        :       12px;
@font-4        :       14px;
@font-5        :       16px;
@font-6        :       18px;
@font-7        :       24px;
@font-8        :       28px;
@font-9        :       32px;
@font-10       :       36px;

@height-1      :   16px;
@height-2      :   18px;
@height-3      :   24px;
@height-4      :   32px;
@height-5      :   36px;
@height-6      :   42px;
@height-7      :   48px;
@height-8      :   52px;
@height-9      :   56px;
@height-10     :   64px;
//------------------------//
@gutter-y           :       16px;
@gutter-x           :       16px;
//------------------------------------------------------------------------//
